{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/stories/stories-detail.css' %}" />
{% endblock %} {% block content %}
<header class="story-header">
  <h1>{{ story.name }}</h1>
</header>
<div class="story-actions">
  <a class="btn btn-edit" href="{% url 'story-update' story.id %}"
    >Edit Story</a
  >
  <a class="btn btn-delete" href="{% url 'story-delete' story.id %}"
    >Delete Story</a
  >
</div>
<article class="story-container">
  <div class="story-content">
    <h2 class="sectional-titles">Story Description:</h2>
    <div class="story-description">
      <p>{{ story.description }}</p>
    </div>
    <h2 class="sectional-titles">Your Story:</h2>
    <div class="story-text">
      <p>{{ story.story }}</p>
    </div>
  </div>
</article>
{% endblock %}
