{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="../static/css/about.css" />

<div class="content-wrapper">
  <div class="center-container">
    <h1 class="page-title">About Page</h1>
    <article class="grid-container">
      <div class="getting-started">
        <h2 class="section-title">How to get started</h2>
        <div class="content-box-first">
          <div class="gray-background"></div>
          <div class="image-container">
            <img
              src="https://cdn-images-1.medium.com/max/779/1*0G_m4-Oi9KA1Q_k43OoGmA.jpeg"
              alt="Author writing"
              class="background-image-first"
            />
            <p class="section-text-first">
              Are you perhaps an author? Feel free to create your stories in the
              <a href="{% url 'story-index' %}" class="link-to-stories"
                >stories</a
              >
              page!
            </p>
          </div>
        </div>
      </div>

      <div class="vertical-divider"></div>

      <div class="filler">
        <p class="section-paragraph-cards">
          We’re a digital sanctuary for those who cherish the written word.
        </p>
        <p class="section-paragraph-cards">
          We offer a cozy, welcoming space for authors to write and hopefully
          share their stories to others!
        </p>
        <p class="section-paragraph-cards">
          책사랑 공간 (Book Lovers' Haven) is the perfect place to nourish your
          love for books and discover your next great story.
        </p>
      </div>

      <div class="vertical-divider"></div>

      <div class="name-meaning">
        <h2 class="section-title">Site Name Meaning</h2>
        <div class="content-box-second">
          <div class="gray-background"></div>
          <div class="image-container">
            <img
              src="https://thumbs.dreamstime.com/b/vintage-literary-haven-n-painting-transports-viewers-to-where-flickering-candles-dusty-sunlight-leather-bound-books-313999423.jpg"
              alt="Author writing"
              class="background-image-second"
            />
            <p class="section-text-second">
              책사랑 공간
              <br />
              <span> It stands for </span>
              <br />
              <span> Book Lover’s Haven </span>
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

{% endblock %}
