{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="home-title">
    <h1>책사랑 공간</h1>
    <h1>(Chaeksarang Gonggan)</h1>
  </div>
  <div class="header-logo-container">
    {% if user.is_authenticated %}
    <a href="{% url 'home' %}">
      <img src="../static/images/book.png" alt="site-logo-of-a-book" />
    </a>
    {% endif %}
  </div>
</section>

{% if not user.is_authenticated %}
<section class="not-auth">
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %} {% endblock %}
